{margin: 0;padding: 0;background: none;}
body{font-family: "楷体";font-size: 16px;}
.text1{
    width: 980px;
    height: 80px;
    margin: 0 auto;
    position: relative;
}
.test1{
    position:absolute;
    left: 100px;
    top:15px;
}
.test2{
    position:absolute;
    right: 100px;
    top: 34px;
    color:#ff9c00;
    cursor: pointer;
    font-size: 18px;
    margin: 0 auto;

}
 .text2{
    width: 982px;
    background: #ff9c00;
    margin: 0 auto;
    height: 300px;

    
}

.a4{
    width: 982px;
    background: #ff9c00;
    position: relative;
    right: 1px;
}

.a1{
    width: 820px;
    margin: 0 auto;
    line-height: 50px;
    padding-left: 160px;
}
.a1 span{
    float: left;
    padding:0 38px;
    color:#9c5132;
    cursor: pointer;
}
.a1 img{
    width: 980px;
    text-align: center;
    margin: 0 auto;
}
.a3{
    width: 980px;
    text-align: center;
    margin: 0 auto;
}
.text3{
    width: 982px;
    height: 240px;
    background: #e7bf80;
    margin: 0 auto;

}
.text3 .b{
    width: 940px;
    height: 195px;
    margin: o auto;
    padding: 45px 0 0 40px;
}
.text3 .b div{
    float: left;
    width: 146px;
    height:55px;
    padding-top: 95px;
    margin-right: 42px;
    background:url(list1.png) no-repeat;
    text-align: center;
    color: #9c5132;
}
.text3 .b .b2{
    background:url(list2.png) no-repeat;
}
.text3 .b .b3{
    background:url(list3.png) no-repeat;
}.text3 .b .b4{
    background:url(list4.png) no-repeat;
}.text3 .b .b5{
    background:url(list5.png) no-repeat;
}
.text4{
width: 982px;
height:500px;
margin: 0 auto;
background:#f8f5bc;
}
.c1{
    width: 982px;
    height: 530px;
    margin: 0 auto;
    padding: 40px 0 0 68px;
}
.c1 .d1{
    width: 180px;
    height: 200px;
    border: 1px solid #ccc;/*设置边框*/
    float: left;
    background: #fff;
    margin: 0 39px 30px 0;
}
.c1 .d1 .t1{
    width: 180px;
}
.text5{
    position: relative;
    top:-8px;
    width: 982px;
    height: 140px;
    background: url(footer.png) repeat-x;
    text-align: center;
    line-height: 120px;
    color: #fff;
    font-size: 18px;
    margin: 0 auto;
}
.test5 .a1{
    color:#fff;
}